
/*  ----------------------------------------------------------------------------- responsive -----------------------------------------------------------------------------------------------*/
@media screen and (max-width:599px)  /*------ mobile -----------------------------------------*/
{
  .largeur {
    width: 90% !important; 
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .recherche{
    width: 39%;
  }

  .fondcarte {
    width: 100% !important;
    margin-left: 0 !important;
    height: 67rem !important;
    margin-top: -1.3rem !important;

  }

  .fondcarte2 {
    width: 100% !important;
    margin-left: 0 !important;
    height: 70rem !important;
    margin-top: -1.4rem !important;

  }

  .btn {
    padding-left: 29% !important;
  }

  .menu {
    width: 100% !important;
    margin-left: 0 !important;
  }

  .cardc__badge {
    margin-left: 71%;
    
  }

  .cardc__badge2{
    margin-left: 71%;
    
  }
}
@media screen and (min-width:600px) and (max-width:850px)         /*------ petitécran -----------------------------------------*/ 
{
  
   .footer__list {
     display: flex;
     justify-content: space-between;
     width: 80%;
     padding-left: 6.5%;
     margin-top: 0.7rem;
   }

   .footer__logo {
     padding-left: 40%;
   }

   .footer__icon {
     margin-right: 0.5rem;
   }

  .centrage {
    margin-left: 27%;
    margin-top: 10%;
  }

  .recherche {
    width: 17%;
  }

  .largeur {
    width: 90%!important;
    padding-left: 5%;
  }

  .menu {
    margin-bottom: -1.3rem;
  }

  .fondcarte {
    height: 70rem!important;
  }

  .fondcarte2 {
    height: 72rem!important;
  }

  .btn {
    padding-left: 38% !important;
  }

  .cardc__coeur {
    position: relative;
    left: 25rem;
  }

  
  .Titre {
    text-align: center;
  }
  .restaurant {
      height: 90rem;
      &__titre2 {
          margin-left: 10%;
      }
  }

  .ipad {
      margin-left: 15%;
  }
  .ipad2 {
    margin-left: 15%;
}

  .cardc{
  height:15rem;
  width:30rem;
  font-size:1.1rem;
  border-radius:1rem;
  box-shadow:3px 3px 10px $color-gray;
  transition:.3s linear;
  
&:hover{
  cursor:pointer;
  box-shadow:5px 5px 10px darken($color-gray,10%);
  transform:translateY(-5px);
}

  &__heading {
    position:relative; 
    bottom:2rem
  }
  
  &__description {
    position:relative; 
    bottom:2.5rem
  }

&__picture-box{
  width:100%;
  height:85%;
}

&__picture{
  width:100%;
  height:80%;
  border-radius:1rem 1em 0 0;
  object-fit:cover;
}

&__body{
  padding-left:1rem;
  width:80%;
  font-size: 0.7rem
    
}
  }
  
}
/*  ---------------------------------------------------------------------------------------------------------------------------*/



@media screen and (min-width:850px) and (max-width:999px)         /*------ Ipad -----------------------------------------*/ 
{
  .flexBetween {
    display: flex;
      justify-content: space-between;
      align-items: center;
      position: absolute;
    top: 30em;
    right: 7rem;
      width: 80%;
      margin-left: 9rem;
  }

  .flexBetween2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-left: 5%;
  }

  .fondcarte {
    height: 30rem !important;
  }

  .fondcarte2 {
    height: 35rem !important;
  }

  .btn {
    padding-left: 40% !important;
  }

  .restaurant {
    margin-top: 20rem
   }
   .restaurant__titre2{
    margin-left: 15rem;
    padding-top: 5rem;
  }

  .ipad {
      margin-top: 10rem;
      margin-left: 3rem;
      
  }

  .ipad2 {
    position: relative;
    top: -5rem;
    left: -5rem;
  }

  

  .Titre {
    text-align: center;
    margin-top: 6rem;
  }

  .flexBetweenfooter {
    display: flex;
      justify-content: space-between;
      align-items: center;
      width: 70%;
      margin-left: 7rem;
      
  }

  .footer__logo {
    position: relative;
    left: 41%;
    bottom: 0.5rem;
  }

  .footer__list {
    margin-top: 1.5rem;
  }

  .footer {
    padding : 1rem 3rem 0 3rem ;
  }

  .footer__icon{
    margin-right: 0.5rem;
     }
   /*  ------ Carte----------------------------------------- */
   

  .centrage {
      width: 90%;
      position: relative;
      top: 0;
      right: 7rem;
  }
  
  .cardc{
      margin-top: 30rem;
    height:15rem;
    width:40rem;
    margin-left: 1.7rem;
    font-size:1.1rem;
    margin-bottom: 2rem;
    border-radius:1rem;
    box-shadow:3px 3px 10px $color-gray;
    transition:.3s linear;
    
  &:hover{
    cursor:pointer;
    box-shadow:5px 5px 10px darken($color-gray,10%);
    transform:translateY(-5px);
  }
  
    &__heading {
      position:relative; 
      bottom:2rem
    }
    
    &__description {
      position:relative; 
      bottom:2.5rem
    }
  
  &__picture-box{
    width:100%;
    height:85%;
  }
  
  &__picture{
    width:100%;
    height:80%;
    border-radius:1rem 1em 0 0;
    object-fit:cover;
  }
  
  &__body{
    padding-left:1rem;
    width:80%;
    font-size: 0.7rem
      
  }

  &__badge {
    margin-left: 71%;
    position: relative;
    bottom: 31rem;
    z-index: 1;
  }

  &__badge2 {
    margin-left: 71%;
    position: relative;
    bottom: 33.4rem;
    z-index: 1;
  }
  }

}
/*  ---------------------------------------------------------------------------------------------------------------------------*/


@media screen and (min-width:1500px)         /*  ------ pc----------------------------------------- */ 
{
  .flexBetween {
    display: flex;
      justify-content: space-between;
      align-items: center;
      width: 60%;
      padding-left: 20%;
  }

/*  ------ footer ----------------------------------------- */
  .flexBetweenfooter {
    display: flex;
      justify-content: space-between;
      align-items: center;
      width: 70%;
      margin-left: 7rem;
      
  }

  .footer__logo {
    position: relative;
    right: 1rem;
    bottom: 0.5rem;
  }

  .footer__list {
    margin-top: 1.5rem;
  }

  .footer {
    padding : 1rem 30rem 0 30rem ;
  }

  .footer__icon{
    margin-right: 0.5rem;
     }
  /*  ------ /footer ----------------------------------------- */
    
  .largeur {
    width: 30%;
  }

  .restaurant {
      height: 55rem;
  }

  .Titre {
    text-align: center;
    margin-right: 2rem;
    margin-top: 6rem;
  }

  .margefooter {
    text-align: center;
  }

  

  
  /*  ------ Carte----------------------------------------- */
  .restaurant__titre2{
        padding-left: 47%;
    padding-top: 5rem;
  }
  
  .cardc{
    height:15rem;
    width:40rem;
    margin-left: 1.7rem;
    font-size:1.1rem;
    margin-bottom: 2rem;
    border-radius:1rem;
    box-shadow:3px 3px 10px $color-gray;
    transition:.3s linear;
    
  &:hover{
    cursor:pointer;
    box-shadow:5px 5px 10px darken($color-gray,10%);
    transform:translateY(-5px);
  }
  
    &__heading {
      position:relative; 
      bottom:2rem
    }
    
    &__description {
      position:relative; 
      bottom:2rem
    }
  
  &__picture-box{
    width:100%;
    height:85%;
  }
  
  &__picture{
    width:100%;
    height:80%;
    border-radius:1rem 1em 0 0;
    object-fit:cover;
  }
  
  &__body{
    padding-left:1rem;
    width:80%;
    font-size: 0.7rem
      
  }

  &__coeur {
    margin-left: 35%;
  }
  
  }
  /*  ------------------------------------------------------------Les Menus-------------------------------------------------*/
  .margeLA {
    width: 100%;
    }

    .flexBetween2 {
      display: flex;
        justify-content: space-between;
        width: 93%;
        margin-left: 3rem; 
    }

    .imgfond2 {
      max-width: 100%;
      max-height: 35rem !important;
      width: 100%;
      -o-object-fit: cover;
      object-fit: cover;
  }

  .bouton {
    position: relative;
    left: 44%;
    top: 4rem;
  }

 .menu {
  height: 10rem;
  &__head {
    margin-bottom: 5rem;
    margin-left: 15rem;
  }
}

  .fondcarte {
    height: 35rem !important;
  }

  .fondcarte2 {
    height: 40rem !important;
  }

}


/*  ---------------------------------------------------------------------------------------------------------------------------*/


@media screen and (min-width:1000px) and (max-width:1499px)          /* ------ pc-petitécran/ipadPro----------------------------------------- */ 
{
  .flexBetween {
    display: flex;
      justify-content: space-between;
      align-items: center;
      width: 90%;
      margin-left: 3rem;
  }

  .flexBetween2 {
    display: flex;
      justify-content: space-between;
      align-items: center;
      width: 90%;
      margin-left: 3rem;
  }

  .largeur {
    width: 30%;
  }

  .recherche {
    width: 13%;
  }

  .fondcarte {
    height: 35rem !important;
  }

  .fondcarte2 {
    height: 35rem !important;
  }

  .bouton {
    margin-left: 40% !important;
  }

  .Titre {
    text-align: center;
    margin-top: 6rem;
  }

  .restaurant {
      height: 53rem;
      &__titre2{
        margin-left: 7rem;
        padding-top: 5rem;
      }
  }

  .centrage {
      
      width: 90%;
  }

  .ipad {
    width: 70%;
    margin-left: 9rem;
  }

  .ipad2 {
    width: 70%;
    margin-left: 9rem;
  }

  .footer__list {
    display: flex;
    justify-content: space-between;
    width: 60%;
    padding-left: 17%;
    margin-top: 1rem;
  }

  .footer__logo {
    padding-left: 42.5%;
  }

   /*  ------ Carte----------------------------------------- */
     
  .cardc{
    height:15rem;
    width:40rem;
    margin-left: 1.7rem;
    font-size:1.1rem;
    margin-bottom: 2rem;
    border-radius:1rem;
    box-shadow:3px 3px 10px $color-gray;
    transition:.3s linear;
    
  &:hover{
    cursor:pointer;
    box-shadow:5px 5px 10px darken($color-gray,10%);
    transform:translateY(-5px);
  }
  
    &__heading {
      position:relative; 
      bottom:2rem
    }
    
    &__description {
      position:relative; 
      bottom:2.5rem
    }
  
  &__picture-box{
    width:100%;
    height:85%;
  }
  
  &__picture{
    width:100%;
    height:80%;
    border-radius:1rem 1em 0 0;
    object-fit:cover;
  }
  
  &__body{
    padding-left:1rem;
    width:80%;
    font-size: 0.7rem
      
  }

  &__badge {
    margin-left: 75%;
  }

  &__badge2 {
    margin-left: 75%;
  }
  
  }
}


/*  -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
